{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Testing REST API</h1>
  <hr>
  <form class="form" role="form" action="/api" method="post">
    <div class="__modal-inputs--flex-row modal-content" style="width:100%; text-align:center;">
      <input id="hidden_ticket_id" type="hidden" name="ticket_id" value="">
      <div class="row justify-content-center">
        {{form.Subject.label(class="col-sm-3 col-form-label")}}
        {{form.Subject(class='_form-input _form-input--m col-sm-4')}}
      </div>

      <div class="row justify-content-center">
        {{form.Body.label(class="col-sm-3 col-form-label")}}
        {{form.Body(class='_form-input _form-input--m col-sm-4')}}
      </div>

      <div class="row justify-content-center">
        {{form.Submit(class='_form-input _form-input--m col-sm-4')}}
      </div>
  </form>
</div>
{% endblock %}